<div class="rm-row-margin">
  <div class="row top-row">
    <div class="container">
      <div class="col-xs-12 col-md-4 col-lg-4 txt-bsd-img">
        <p class="food-search">Food search just got real</p>
          <h1 class="find-what"> Find what you<br> feel like. </h1>
            <p class="food-search">Download the app now on</p>
              <div class="play-store-images">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.peppa.app"><%= image_tag('footer_img_1.png') %>
                <a target="_blank" href="https://itunes.apple.com/us/app/peppa/id1270825524?ls=1&amp;mt=8"><%= image_tag('footer_img_2.png') %></a>
              </div>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-8 img-rt-align">
        <%= image_tag('home_page.png') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <a href="/search"></a>
    </div>
  </div>
</div>


    