<div class="container-fluid">
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-white fixed-top bg-white">
      <div class="side-block">
        <a class="navbar-brand" href="#"><%= image_tag("peppa.png", :alt => "PEPPA") %></a>
      </div>
      <div class="dropdown_location">
  <button type="button" class="btn form-control dropdown-toggle" data-toggle="dropdown">
    SELECT LOCATION
  </button>
  <div class="dropdown-menu">
    <div class="location_search">
      <%= image_tag('search_icon.png') %></p>
    </div>
  </div>
</div>
    </nav>
  </div>
</div>
